<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Prediction</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <h1>Crop Prediction</h1>
    <form action="/predict" method="POST">
        <label for="N">Enter the nitrogen (N) value (kg/ha) </label>
        <input type="number" id="N" name="N" step="any" required>
        <br>
        <label for="P">Enter the Phosphorus (P) value (kg/ha)</label>
        <input type="number" id="P" name="P" step="any" required>
        <br>
        <label for="K">Enter The Potassium (K) value (kg/ha)  </label>
        <input type="number" id="K" name="K" step="any" required>
        <br>
        <label for="temp">Enter the Temperature (Celsius) </label>
        <input type="number" id="temp" name="temp" step="0.01" required>
        <br>
        <label for="humidity">Enter the Humidity (%) </label>
        <input type="number" id="humidity" name="humidity" step="0.01" required>
        <br>
        <label for="ph">Enter the pH value (0-14)</label>
        <input type="number" id="ph" name="ph" step="0.01" required>
        <br>
        <label for="rainfall">Enter The Rainfall value (mm) </label>
        <input type="number" id="rainfall" name="rainfall" step="0.01" required>
        <br>
    <input type="submit" value="Recommend">
    </form>
    
</body>
</html>